  <table class="table " style="width: 100%;">
    <thead>

    <tr class="black-muted-bg  ">
      <th *ngFor="let col of columns">
        {{getColumnDisplayName(col)}}
      </th>
      <!--<th class="browser-icons"></th>
      <th>Browser</th>
      <th class="align-right">Visits</th>
      <th class="table-arr"></th>
      <th class="align-right">Purchases</th>
      <th class="table-arr"></th>
      <th class="align-right">%</th>
      <th class="table-arr"></th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of rows" class="no-top-border">
      <td *ngFor="let it of columns">{{item[it.field]}}</td>
    </tr>
    </tbody>
  </table>
